
/**
 * My terminal color scheme:
 * 
 * !! manta:
 * .background:   #1E2541
 * .foreground:   #EEFFFF
 * .cursorColor:  #EEFFFF
 * .color0:       #1E2541
 * .color1:       #F0719B
 * .color2:       #5AF7B0
 * .color3:       #FFA56B
 * .color4:       #57C7FF
 * .color5:       #C792EA
 * .color6:       #89DDFF
 * .color7:       #EEFFFF
 * .color8:       #354274
 * .color9:       #F02E6E
 * .color10:      #2CE592
 * .color11:      #FF8537
 * .color12:      #1DA0E2
 * .color13:      #A742EA
 * .color14:      #47BAE8
 * .color15:      #DEE6E7
 * .color16:      #2A335A
 *
**/

/* common: shared by all pages */

html, body {
    margin: 0;
    padding: 0;
    background-color: #1E2541;
    color: #EEFFFF;
    font-family: 'Courier New', Courier, monospace;
}
header {
    padding: 5px 2px 0 7px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.name {
    color: #C792EA;
}
.website {
    color: #57C7FF;
}
nav a {
    color: #EEFFFF;
    text-decoration: none;
    padding: 0 3px;
}
nav a:not([id]):hover{
    background-color: #EEFFFF;
    color: black;
}
nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding-right: 20px;
}
nav li {
    margin: 0 15px;    
}
.content {
    width: 80%;
    margin: auto;
}
#selected {
    background-color: #EEFFFF;
    color: black;
}
.inline-list {
    list-style-type: none;
    display: flex
}

/* index.js */
.whoami {
    color: #5AF7B0;
}
.description {
    font-size: 1em;
}
.contact-header {
    color: #5AF7B0;
}
#perlin {
    width: 100%;
    display: block;  /* prevents scrollbar */
    height: 35vh;
    border: 1px solid #57C7FF;

}
#controls {
    width: 100%;
    margin: 0;
    display: flex;
    list-style-type: none;
    padding: 4px 8px;
}
#controls li:hover {
    cursor: pointer;
}
#controls li {
    margin: 0 8px;
    padding: 0 2px;
    cursor: pointer;
}
#controls .selected {
    color: #1E2541;
    background-color: #EEFFFF;
}
h3 {
    margin-bottom: 10px;
}
.skills {
    display: flex;
}
.legend > ul {
    list-style-type: none;
}
.skills .inline-list li {
    padding: 0 3px;
    margin: 0 4px;
}
.skills .inline-list {
    flex-wrap: wrap;
}
.skills ul{
    list-style-type: none;
}
.experienced::after, .confident::after, .beginner::after{
    padding-left: 3px;
    vertical-align: super;
    font-size: smaller;
}
.experienced::after {
    content: "■";
    color: #5AF7B0;
}
.confident::after {
    content: "■";
    color: #FFA56B;
}
.beginner::after {
    content: "■";
    color: #EEFFFF;
}
.contact-links, .resource-list ul {
    list-style-type: none;
}
.contact-links span {
    color: #57C7FF;
    padding-right: 5px;
}

.contact-links a {
    color: #EEFFFF;
}
.resource-list {
    padding-top: 20px;
}
.resource-list a, .resource {
    color: #57C7FF;
}

@media (max-width:499px){
    nav ul {
        flex-direction:  column;
        padding-right: 0;
    }
    nav li {
        margin: 0;
        text-align: right;
    }
    .skills {
        display: block;
    }
}
/* blog.html */
.posts {
    list-style-type: none;
}
.posts a {
    color: #EEFFFF;
}