html, body {
    margin: 0;
    padding: 0;
    background-color: #e3e3e3;
}
canvas {
    display: block;  /* prevents scrollbar */
    width: 100vw;
    height: 100vh;
}
#controls {
    width: 100vw;   
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.title {
    font-size: 2em;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }

}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }

}